<div class="bg-dark text-secondary py-4 footer">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6 col-12">
                &copy; 2020 All rights reserved - Safeced Solutions.</a>
            </div>
            <div class="col-lg-6 col-12 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img src="/img/inspected-blue-badge.svg" class="sec-badge" alt="Safeced Badge">
                    </li>
                    <li class="list-inline-item">
                        <img src="/img/inspected-dark-badge.svg" class="sec-badge" alt="Safeced Badge">
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>