<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">DevsZero</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0">
                    <a href="https://felixcheruiyot.typeform.com/to/G6GHSgFb" class="btn btn-primary my-2 my-sm-0">Join Waitlist</a>
                </form>
            </div>
        </div>
    </div>
</nav>