html body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

body {
    margin-top: 54px;
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.navbar-brand {
    font-weight: 500;
}

.navbar-brand .logo {
    height: 21px;
}

.nav-link {
    padding: 1rem;
}

a {
    text-decoration: none !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background: #4937E8 !important;
    border-color: #4937E8 !important;
    font-weight: 500;
    outline: none !important;
}

.bg-primary {
    background: #4937E8 !important;
    color: #fff;
}

.bg-dark {
    background: #000 !important;
}

.section {
    padding: 89px 0
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.3em;
}

h3 {
    font-size: 1.7em;
    line-height: 1.4em;
}

h4 {
    font-size: 1.4em;
    margin-bottom: 11px;
}

.integrations img {
    height: 54px;
    flex: 1;
    align-self: center;
}

.proof .text {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.proof .numbers {
    font-size: 3rem;
}

.valign {
    display: flex;
    flex-direction: column;
    justify-content: center;
}