{{ define "main" }}
<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
                <h1>Deploment and security simplified for startups.</h1>
                <h2 class="my-4">Design your deployment from a graphical interface, implement security and automate
                    services.</h2>
                <div class="cta">
                    <a href="https://felixcheruiyot.typeform.com/to/G6GHSgFb" class="btn btn-primary my-2 my-sm-0">Get
                        started</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}