{{ define "main" }}
<div class="intro section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1>Deployment and security simplified for startups.</h1>
                <h2 class="my-4 text-secondary">Create and automate deployment from well tested and proven images to
                    implement security
                    and efficiency of your application.</h2>
                <div class="cta">
                    {{- partial "cta-button.html" . -}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="what-is-devs-zero section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-10 offset-1">
                        <img src="img/security.svg" alt="security" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <h3>What is DevsZero?</h3>
                <p class="text-secondary">
                    Almost every startup deploys with basic configurations and with the MVP mentality to shipping faster.
                    The problem comes when one starts collecting valuable customer data, and application hosting and
                    security compliance becomes a concern. Sometimes you might need to integrate with an enterprise API
                    that requires you to implement several security standards like encryptions, VPN setups, etc.
                </p>
                <p class="text-secondary">
                    For a startup with limited resources such as availability of DevOps, time, and money, this can be
                    overwhelming. DevsZero enables you to create these standards and meet compliance requirements by
                    copying and customizing available security standards and deployment procedures used by enterprises
                    and the top 500 startups. DevsZero intends to make it less complicated and friendly for MVP. Never
                    again compromise security even at the time of the first launch.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section usecases">
    <div class="container">
        <div class="header text-center mb-4">
            <h3>Automation for everyone</h3>
            <div class="text-secondary">Cloud deployment compliance available in a simple, automated, plug-n-play APIs.
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 my-4">
                <h4>Compliance automation</h4>
                <p class="text-secondary">xxx</p>
                <div class="my-2">
                    <a href="/usecases/" class="btn btn-sm btn-primary">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-4">
                <h4>SAAS deployment</h4>
                <p class="text-secondary">xxx</p>
                <div class="my-2">
                    <a href="/usecases/" class="btn btn-sm btn-primary">
                        Learn more
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-4">
                <h4>Application automation</h4>
                <p class="text-secondary">xxx</p>
                <div class="my-2">
                    <a href="/usecases/" class="btn btn-sm btn-primary">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="integrations section bg-light text-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h4 class="text-dark">Works Out of The Box</h4>
                <p>
                    Out of the box DevsZero comes with support to build images for Amazon EC2, CloudStack, DigitalOcean,
                    Docker, Google Compute Engine, Microsoft Azure, QEMU, VirtualBox, VMware, and more. Support for more
                    platforms is on the way, and anyone can add new platforms via plugins.
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-lg-4 col-12 mb-4 flex">
                        <img src="img/digitalocean.svg" class="img-fluid" alt="D.O">
                    </div>
                    <div class="col-lg-4 col-12 mb-4 flex">
                        <img src="img/aws.svg" class="img-fluid" alt="AWS">
                    </div>
                    <div class="col-lg-4 col-12 mb-4 flex">
                        <img src="img/docker.svg" class="img-fluid" alt="Docker">
                    </div>
                    <div class="col-lg-4 col-12 mb-4 flex">
                        <img src="img/google-cloud.svg" class="img-fluid" alt="Google Cloud">
                    </div>
                    <div class="col-lg-4 col-12 mb-4 flex">
                        <img src="img/vmware.svg" class="img-fluid" alt="VMWare">
                    </div>
                    <div class="col-lg-4 col-12 mb-4 flex">
                        <img src="img/azure.svg" class="img-fluid" alt="Azure">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FAQs -->
<!-- Are we building a marketplace of images -->
<!-- Why use this and not pre-built images from cloud providers -->
<!-- How secure is my authentication keys -->
<!-- Proof -->
<div class="proof section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 text-center my-4">
                <span>11k</span> builds
            </div>
            <div class="col-12 col-lg-4 text-center my-4">
                <span>50+</span> startups
            </div>
            <div class="col-12 col-lg-4 text-center my-4">
                <span>8+</span> years of devOps
            </div>
        </div>
        <div class="cta my-4 text-center">
            {{- partial "cta-button.html" . -}}
        </div>
    </div>
</div>
{{ end }}