{{ define "main" }}
<div class="intro section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 valign">
                <h1>Security compliance and credibility simplified for B2B businesses.</h1>
                <h2 class="my-4 text-secondary">
                    We help businesses to implement security policies and effectively communicate their security status
                    to the stakeholders.
                </h2>
                <div class="cta">
                    {{- partial "cta-button.html" . -}}
                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-1 text-center">
                <img src="img/security.svg" alt="security" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<div class="what-is-devs-zero section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="row">
                    <div class="col-10 offset-1">
                        <img src="img/checklist.svg" alt="security-checklist" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 valign">
                <h3>What is Safeced?</h3>
                <p class="text-secondary">
                    Almost every B2B startup deploys with basic configurations and with the MVP mentality to shipping
                    faster.
                    The problem comes when one starts collecting valuable customer data, and application hosting and
                    security compliance becomes a concern. Sometimes you might need to integrate with an enterprise API
                    that requires you to implement several security standards like encryptions, VPN setups, etc.
                </p>
                <p class="text-secondary">
                    For a B2B startup with limited resources such as availability of security specialists, time, and money,
                    this can be
                    overwhelming. Safeced enables you to create these standards and meet compliance requirements by
                    automating available security standards and help you communicate it with ease to your potential
                    users. Safeced intends to make it less complicated and also friendly for MVPs. Never
                    again compromise security even at the time of the first launch.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section usecases bg-light">
    <div class="container">
        <div class="header text-center mb-4">
            <h3>How it works</h3>
            <div class="text-secondary">Compliance checks available in a simple, automated, plug-n-play APIs.
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 my-4">
                <h4 class="mb-4"><i class="fa fa-file"></i> Compliance automation</h4>
                <p class="text-secondary">
                    Automate your compliance requirements and properly communicate to your stakeholders. Create
                    presentable reports and be able to provide proof.
                </p>
                <!-- <div class="my-2">
                    <a href="/product/" class="btn btn-sm shadow btn-primary">
                        Learn more
                    </a>
                </div> -->
            </div>
            <div class="col-12 col-lg-4 my-4">
                <h4 class="mb-4"><i class="fa fa-globe"></i> Status pages and badge</h4>
                <p class="text-secondary">
                    Create validated security pages and compliance badges to display in your application and at point of
                    checkout.
                </p>
                <!-- <div class="my-2">
                    <a href="/product/" class="btn btn-sm shadow btn-primary">
                        Learn more
                    </a>
                </div> -->
            </div>
            <div class="col-12 col-lg-4 my-4">
                <h4 class="mb-4"><i class="fa fa-check"></i> Score and Checklists</h4>
                <p class="text-secondary">
                    Self and automated compliance checklist tool to ensure that your application is actually secure and
                    as communicated to your stakeholders.
                </p>
                <!-- <div class="my-2">
                    <a href="/product/" class="btn btn-sm shadow btn-primary">
                        Learn more
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- Proof -->
<div class="proof section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 my-4 text-center">
                <div>
                    <span class="numbers">7k + </span>
                    <br />
                    <span class="text">compliance checks</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-4 text-center">
                <div>
                    <span class="numbers">10+</span>
                    <br />
                    <span class="text">businesses</span>
                </div>
            </div>
            <div class="col-12 col-lg-4 my-4 text-center">
                <div>
                    <span class="numbers">100+</span>
                    <br />
                    <span class="text">policies</span>
                </div>
            </div>
        </div>
        <div class="cta my-4 text-center">
            {{- partial "cta-button.html" . -}}
        </div>
    </div>
</div>
{{ end }}